* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(165, 165, 140);
}

a {
    text-decoration: none;
}

a li {
    color: black;
}

main {
    border: 3px solid orange;
    border-radius:0;
    background-repeat: no-repeat;
    background-size: cover;
    backface-visibility: visible;
}

#searchBar {
    outline-color: rgb(255, 60, 0);
    border-radius: 10px;
    font-size: 23px;
}

#searchBtn {
    border-color: rgb(255, 72, 0);
    border-radius: 10px;
    font-size: 23px;
}

.img1 {
    height: 300px;
    width: 300px;
    position: relative;
    z-index: 10;
}

.Description{
    background-color: yellow;
}

.loc{
    background-color: aqua;
}

.ForecastHub{
    background-image: linear-gradient(123deg, rgb(214, 50, 50), rgb(207, 151, 45), rgb(39, 194, 39), rgb(57, 57, 195));
    -webkit-text-stroke-width: thin;
    font-size: 27px;
    border-radius: 10px;
    padding: 5px;
}

.weather-item{
    padding: 30px;
}

#weatherResult{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px;
}

#weatherResult div{
    padding: 10px;
    border: 2px solid black;
    font-size: 27px;
    border-radius: 10px;
    background-color: aquamarine;
}

.block{
    display: block;
}