* {
    margin: 0;
    padding: 0;
    color: #F8F9FA;
}

body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background: #185a5a;
}

nav{
    background-color: #3333333b;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.491);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

main{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#searchBar {
    outline-color: #333333;
    border-radius: 10px;
    font-size: 20px;
    max-width: 250px;
    color: black !important;
}

#searchBtn {
    border-color: #333333;
    background: #333333;
    border-radius: 10px;
    font-size: 23px;
}

.box1{
    gap: 30px;
    width: auto;
    height: auto;
    margin: auto;
}

.img1 {
    width:300px;
    height:300px;
    margin: 10px;
    border-radius: 20px;
    background:#d68b8b;
    filter: invert(1);
}

.ForecastHub {
    font-size: 30px;
    border-radius: 10px;
}

.weather-item {
    padding: 30px;
}

#weatherResult {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    gap: 10px;
}

#weatherResult section {
    padding:10px;
    font-size: 25px;
}

#weatherResult ul {
    list-style: none;
    font-size: 25px;
    padding: 10px;
}

@media screen and (max-width: 350px) {
    .img1 {
        width: 200px;
        height: 200px;
    }
    .ForecastHub {
        font-size: 20px;
    }
    #searchBar {
        font-size: 15px;
        max-width: 150px;
    }
    #searchBtn {
        font-size: 18px;
    }
}