* {
    margin: 0;
    padding: 0;
    color: #F8F9FA;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #399494;
}

nav{
    background-color: #3333333b;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.491);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

a {
    text-decoration: none;
}

a li {
    color: black;
}

#searchBar {
    outline-color: #333333;
    border-radius: 10px;
    font-size: 20px;
    max-width: 250px;
    color: black !important;
}

#searchBtn {
    border-color: #333333;
    background: #333333;
    border-radius: 10px;
    font-size: 23px;
}

.img1 {
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 20px;
    background:#4A6FA5;
}

.ForecastHub {
    font-size: 30px;
    border-radius: 10px;
}

.weather-item {
    padding: 30px;
}

#weatherResult {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

#weatherResult div {
    padding: 15px;
    border: 2px solid rgb(132, 132, 132);
    font-size: 18px;
    border-radius: 10px;
}

.block {
    display: block;
}

.bgImg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    z-index: -1;
}

.bg-img {
    width: 100%;
    height: 100%;
    opacity: 0.9;
}


.border{
    border: 1px solid rgb(136, 136, 136);
    padding: 10px;
    border-radius: 10px;
   background:linear-gradient(135deg, #4A6FA5, #1E3C72);
}